<%- include('includes/head',{title:"DevShop - Error"}) %>
    </head>
    </body>
    <%- include('includes/header') %>
        <main>
            <h1>Not authenticated.</h1>
            <p>You are not authenticated!</p>
            <p><a class="btn" href="/">Go home</a></p>
        </main>
        <%- include('includes/footer') %>

            </html>