<%- include('includes/head',{title:"DevShop - Error"}) %>
    </head>
    </body>
    <%- include('includes/header') %>
        <main>
            <h1>Not found</h1>
            <p>Unfortunately, we could not find the requested resource.</p>
            <p><a class="btn" href="/">Go home</a></p>
        </main>
        <%- include('includes/footer') %>

            </html>