<%- include('includes/head',{title:"DevShop - Error"}) %>
    </head>
    </body>
    <%- include('includes/header') %>
        <main>
            <h1>Something Went Wrong</h1>
            <p>Unfortunately, something went wrong - Don't worry it is not your mistake. Try again later</p>
            <p><a class="btn" href="/">Go home</a></p>
        </main>
        <%- include('includes/footer') %>

            </html>